body {
  min-height: 2500px;
}

.navbar {
  font-weight: 700;
}

.nav-color {
  background-color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.bg-transparent {
  transition: all ease-in 0.3s;
}

.jumbotron {
  padding-top: 12rem;
  padding-bottom: 6rem;
  background-image: url(img/Background/OfiiceTable.jpg);
  background-size: cover;
  background-position: center;
}

#about {
  background-image: url(img/Background/white-triangle-369b8d2d.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

#projects {
  padding-top: 5rem;
  background-image: url(img/Background/BlackLeaf.jpg);
  background-size: cover;
  background-position: center;
  padding-bottom: 5rem;
}

#contact {
  background-image: url(img/Background/Contact.jpg);
  background-size: cover;
  background-position: center;
}

section {
  padding-top: 8rem;
}
