body {
  min-height: 2500px;
}

.navbar {
  font-weight: 700;
}

.jumbotron {
  padding-top: 8rem;
  background-image: url(img/mediamodifier-nCk22aqZjlM-unsplash.jpg);
  background-size: cover;
}

#projects {
  background-color: #dc3545;
}

section {
  padding-top: 8rem;
}
